.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-weight: normal;
  margin: 15px auto 0 358px;
}

.u-section-1 .u-text-2 {
  margin: -2px 132px 0 auto;
}

.u-section-1 .u-gallery-1 {
  height: 349px;
  grid-gap: 17px 17px;
  width: 560px;
  margin: -18px auto 0 158px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 17px 17px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-text-3 {
  line-height: 1;
  margin: -317px 35px 0 850px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: 20px 90px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 104px;
  height: 104px;
  object-position: 100% 50%;
  margin: 0 35px 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  margin: 0 119px 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  line-height: 1;
  margin: -83px 139px 0 857px;
}

.u-section-1 .u-image-2 {
  width: 58px;
  height: 78px;
  margin: 52px 75px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 62px;
  height: 78px;
  margin: -78px 188px 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  margin: 0 176px 0 auto;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  margin: -56px auto 0 250px;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  text-align: center;
  margin: -22px 61px 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -11px auto 60px 350px;
  padding: 17px 44px 18px 42px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 259px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 3px;
    margin-right: 97px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: -23px;
    margin-left: 59px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-1 .u-text-3 {
    margin-top: -312px;
    margin-right: 0;
    margin-left: 685px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 23px;
    margin-right: 56px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -2px;
    margin-right: 14px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 9px;
    margin-right: 85px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -100px;
    margin-right: 118px;
    margin-left: 674px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 69px;
    margin-right: 41px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 154px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 142px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: -69px;
    margin-left: 151px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: -9px;
    margin-right: 27px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -23px;
    margin-left: 251px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2133px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 7px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 1554px;
    margin-right: auto;
    margin-left: 334px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1396px;
    margin-top: -1572px;
    margin-left: auto;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 188px;
    margin-right: 228px;
    margin-left: 237px;
  }

  .u-section-1 .u-text-4 {
    margin-right: auto;
    margin-left: 292px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 4px;
    margin-right: auto;
    margin-left: 377px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 321px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -91px;
    margin-right: 343px;
    margin-left: 228px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 62px;
    margin-right: auto;
    margin-left: 396px;
  }

  .u-section-1 .u-image-3 {
    margin-right: auto;
    margin-left: 273px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 12px;
    margin-right: auto;
    margin-left: 261px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -581px;
    margin-left: auto;
  }

  .u-section-1 .u-text-9 {
    margin-top: 503px;
    margin-right: auto;
    margin-left: 383px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -535px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2083px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 1503px;
    margin-left: auto;
  }

  .u-section-1 .u-gallery-1 {
    height: 1346px;
    width: 540px;
    margin-top: -1521px;
  }

  .u-section-1 .u-text-3 {
    width: 255px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 27px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-right: 149px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    margin-right: 253px;
    margin-left: 138px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 303px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 180px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 6px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -575px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 497px;
    margin-right: 167px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -529px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1511px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 999px;
  }

  .u-section-1 .u-gallery-1 {
    height: 847px;
    width: 340px;
    margin-top: -1016px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 193px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 14px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -3px;
    margin-right: 51px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 4px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -93px;
    margin-right: 90px;
    margin-left: -22px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 65px;
    margin-left: 208px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 73px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 9px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -564px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 492px;
    margin-right: 105px;
    margin-left: 195px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -525px;
  }
}
@media only screen and (min-width: 1300px) {
    .title1 {
      font-size: 2.875rem;
      margin-bottom: -20px !important;
    }
    .header1 {
      height: 90px !important;
    }
    .logo1 {
      width: 120% !important;
      height: 120% !important;
    }
    .menubar1 {
      margin-top: 10px !important;
    }
    .options1 {
      font-size: 1.25rem !important;
    }
    .example1 {
      height: 600px !important;
      width: 800px !important;
    }
    .outer1 {
      margin: 0 !important;
    }
    .info1 {
      margin-top: 125px !important;
    }
    .info2 {
      margin-top: 15px !important;
    }
    .about1 {
      font-size: 2.3rem;
      margin: -2px 120px 0 auto !important;
    }
    h6 {
      font-size: 1.25rem !important;
    }
    .name1 {
      margin: -48px 61px 0 auto !important;
      font-size: 1.25rem !important;
    }
    .dev1 {
      margin-top:20px !important;
    }
    .img1 {
      margin: 0 25px 0 auto !important;
      height: 115px !important;
    }
}
/*.title1 {
      color: red !important;
    }
*/

@media only screen and (max-width: 1300px) {
  .info2 {
    margin: 10px auto 60px 350px !important;
  }
  .name1 {
    margin: -42px 61px 0 auto !important;
  }
}
